@charset "utf-8";
.maru img{
    border-radius: 50%;
    height: 180px;
    width : 180px;
    
}

.haiti {
margin-left :200px;
    
}
.haiti2 div{
    
        clear:both;
    }
    .icon label {
        color: #AAAAAA;	/* ラベルテキストの色を指定する */
        font-size: 13px; /* ラベルテキストのサイズを指定する */
        background-color: #006DD9;/* ラベルの背景色を指定する */
        padding: 6px;	/* ラベルとテキスト間の余白を指定する */
        border-radius: 10px;	/* ラベルボックスの角丸を指定する */
        cursor:pointer;	/* マウスカーソルの形を指定する */
        }
      
         div{
        margin:20px;	/* ボタンとテキストボックス間の余白を指定する */	
        }	