<!DOCTYPE html>
<html lang="en">
<head>
<title>IMAGE CRAFT</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Colo Shop Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="styles/responsive.css">
</head>

<body>

<div class="super_container">

	<!-- Header -->

	<header class="header trans_300">
{include file='./user_header.tmpl'}
	</header>
	
	<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
						
					</div>
				</div>
			
			</div>
		</div>
	</div>

				<div align="center">
				<?php echo cutil::ret2br($ERR_STR); ?>
				<form action='login.php' method="post">
					<table style="border-collapse:separate; border-spacing:20px; border:1px"> 
					<tr>
					<th>ID</th>
					<td><input type="text" name="login_id" size="30" class="ws" value="" /></td>
					</tr>
					<tr>
					<th>Passward</th>
					<td><input type="password" name="login_pw" size="30" class="ws" value="" /></td>
					</tr>
					</table>
				</div>

				<div align="center">
					<input type="submit" class="button02" value="ログイン"/>
				</form>
				</div>
				

					<div class="forget" align="right" style="margin-right:350px">
					<p><a href="#">パスワードを忘れた方はこちら</a></p>
					</div>

					
					
					<footer class="footer">
	{include file='./user_fooder.tmpl'}
						</footer>
</div>



<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="js/custom.js"></script>
</body>

</html>
