.button {
	display: inline-block;
	padding: .65em 3em;
	background: -webkit-linear-gradient(#fe5f95 , #ff3f7f);
	background: linear-gradient(#fe5f95 , #ff3f7f);
	border: 1px solid #fe3276;
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }
  .button span {
	position: relative;
	display: inline-block;
	padding-left: 1.6em;
  }
  .button span:before {
	position: absolute;
	top: 4px;
	left: 0;
	content: '\002764';
	color: #fff;
	font-size: 15px;
	line-height: 1;
	-webkit-animation: icon 1.5s ease-in-out infinite;
	animation: icon 1.5s ease-in-out infinite;
  }
  @-webkit-keyframes icon {
	50% { -webkit-transform: scale(1.2); }
  }
  @keyframes icon {
	50% { transform: scale(1.2); }
  }
